.navbar {
    margin-top: 20px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__category {
        font-size: 24px;
        a {
            text-decoration: none;
            color: #3a1212;
        }
    }
    &__logo__img {
        height: 58px;
        margin: 0 20px;
        width: 58px;
    }
    &__home {
        border-bottom: 3px solid #ff2625;
    }
    &__exercises {
        padding-left: 20px;
    }
}
