.footer {
    margin-top: 80px;
    background-color: #fff3f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; //
    padding: 25px;
    img {
        width: 200px;
        height: 40px;
    }
}
