.similarTarget {
    margin-top: 45px;
    padding: 20px;
    &_title {
        margin-bottom: 60px;
        text-transform: capitalize;
        font-size: 40px;
        font-weight: normal;
    }
    &_box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        h5, h6 {
            font-weight: 200;
            margin-top: 8px;
            color: #000;
            span {
                color: #891212;
            }
        }
        h5 {
            font-size: 24px;
        }
        h6 {
            font-size: 18px;
        }
    }
    &_video {
        display: flex;
        flex-direction: row;
        gap: 24px;
        width: 387px;
        height: 381px;
        text-decoration: none;
    }
}

.exercise_video {
    width: 400px;
    height: 400px;
    text-decoration: none;
    transition: 0.4s all ease-in-out;
    img {
        width: 100%;
    }
    &:hover {
        transform: scale(1.1, 1.1);
    }
}
